logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

release/
Releases_Generados/
dev.db
prisma/dev.db
bfg.jar
dist/
prisma/generated/
*.sqlite
*.sqlite-journal
*.tmp
*.bak
*.old
*.zip
*.rar
*.7z
*.exe
.idea/*
.vscode/*
! .vscode/extensions.json
.vscode/settings.json
.vscode/launch.json