@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 0 0% 90%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 90%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 90%;
    --primary: 348 83% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 90%;
    --accent: 348 83% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --ring: 348 83% 47%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html, body, #root {
    @apply text-foreground;
    background-color: transparent !important;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
